/* ===================================
 THE D CUTS CLIENT PAGE
=================================== */



.client-page{


padding:40px;


}





.client-header{


display:flex;


justify-content:space-between;


align-items:center;


margin-bottom:35px;


}





.client-header h1{


font-size:42px;


margin-bottom:8px;


}



.client-header p{


color:#94a3b8;


font-size:18px;


}







.client-total{


display:flex;


align-items:center;


gap:20px;


background:

rgba(255,255,255,.06);


padding:25px 35px;


border-radius:25px;


border:

1px solid rgba(255,255,255,.1);


}





.client-total i{


font-size:35px;


color:#2563eb;


}





.client-total h2{


font-size:35px;


margin:0;


}





.client-total span{


color:#94a3b8;


}









.client-search{


background:

rgba(255,255,255,.06);


border-radius:20px;


padding:15px 25px;


display:flex;


align-items:center;


gap:15px;


margin-bottom:35px;


border:

1px solid rgba(255,255,255,.1);


}




.client-search i{


color:#3b82f6;


font-size:20px;


}





.client-search input{


background:none;


border:none;


outline:none;


color:white;


width:100%;


font-size:16px;


}









.client-grid{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(300px,1fr));


gap:30px;


}









.client-card{


background:

linear-gradient(

145deg,

rgba(37,99,235,.15),

rgba(255,255,255,.05)

);



border-radius:28px;


padding:30px;


border:

1px solid rgba(255,255,255,.12);


transition:.35s;


position:relative;


overflow:hidden;


}





.client-card::before{


content:"";


position:absolute;


width:120px;


height:120px;


background:#2563eb;


opacity:.15;


border-radius:50%;


right:-40px;


top:-40px;


}





.client-card:hover{


transform:translateY(-10px);


border-color:#2563eb;


}







.client-icon{


width:75px;


height:75px;


border-radius:22px;


background:#2563eb;


display:flex;


align-items:center;


justify-content:center;


font-size:32px;


color:white;


margin-bottom:25px;


}








.client-code{


font-size:40px;


color:#60a5fa;


margin:0;


}





.client-name{


font-size:22px;


margin:15px 0;


}





.client-location{


display:flex;


gap:10px;


align-items:center;


color:#cbd5e1;


font-size:15px;


}





.client-location i{


color:#3b82f6;


}








@media(max-width:700px){


.client-header{


flex-direction:column;


align-items:flex-start;


gap:20px;


}



.client-page{


padding:20px;


}



}