.timesheet-page{

padding:40px;

}



.timesheet-page h1{

font-size:42px;

}



.subtitle{

color:#94a3b8;

}



.timesheet-card,
.table-card{


background:rgba(255,255,255,.06);

border:1px solid rgba(255,255,255,.1);

border-radius:25px;

padding:30px;

margin-top:30px;


}




label{

display:block;

margin-top:20px;

font-weight:bold;

}




select,
input,
textarea{


width:100%;

padding:15px;

margin-top:8px;

background:#1e293b;

border:none;

border-radius:12px;

color:white;


}




textarea{

height:120px;

}





.task-header{


display:flex;

justify-content:space-between;

align-items:center;

margin-top:25px;


}



.task-header button,
.save-btn{


background:#2563eb;

color:white;

border:none;

padding:15px 25px;

border-radius:12px;

cursor:pointer;


}





.task-row{


display:flex;

gap:15px;

margin-top:15px;


}





table{


width:100%;

margin-top:20px;

border-collapse:collapse;


}



th,td{


padding:15px;

text-align:left;

border-bottom:1px solid #334155;


}