<nav class="navbar">

    <div class="nav-left">

        <a href="home.html" class="logo">

            <div class="logo-box">
                <i class="fa-solid fa-clock"></i>
            </div>

            <span>DCUTS.TS</span>

        </a>

    </div>

    <ul class="nav-menu">

        <li>
            <a href="home.html" class="nav-link">
                <i class="fa-solid fa-house"></i>
                Home
            </a>
        </li>

        <li class="admin-menu">
            <a href="dashboard.html" class="nav-link">
                <i class="fa-solid fa-table-columns"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="timesheet.html" class="nav-link">
                <i class="fa-solid fa-clock"></i>
                Timesheet
            </a>
        </li>

        <li class="admin-menu">
            <a href="reports.html" class="nav-link">
                <i class="fa-solid fa-file-lines"></i>
                Reports
            </a>
        </li>

        <li class="admin-menu">
            <a href="calendar.html" class="nav-link">
                <i class="fa-solid fa-calendar-days"></i>
                Calendar
            </a>
        </li>

        <li class="admin-menu">
            <a href="employees.html" class="nav-link">
                <i class="fa-solid fa-users"></i>
                Employees
            </a>
        </li>

        <li class="admin-menu">
            <a href="clients.html" class="nav-link">
                <i class="fa-solid fa-store"></i>
                Clients
            </a>
        </li>

        <li class="admin-menu">
            <a href="settings.html" class="nav-link">
                <i class="fa-solid fa-gear"></i>
                Settings
            </a>
        </li>

        <li>
            <a href="#" onclick="logout()" class="nav-link">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </li>

    </ul>

    <div class="profile">

        <h4 id="username">User</h4>

        <p id="role">EMPLOYEE</p>

    </div>

</nav>